form{
    width: 20%;
    position: absolute;
    left: 40%;
    top: 10%;
    /* border: 1px solid #CED4DA; */
    padding: 2%;
    background-color: #F3F3F3;
    border-radius: 10px; 
}
.button{
    width: 49%;
}
#register{
    display: none;
}
.reg{
    width: 100%;
}