@media screen and (max-width: 1200px){
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

    .menu .nav > ul li a{
     font-size: 18px;
    }
	#advantages .row .section_title h2:before{left: 24%;}
	#advantages .row .section_title h2:after{right: 24%;}
	#advantages .cart_wrap{
		padding: 20px;
	}

/*-------------------------------------------990px---------------------------------------*/

@media screen and (max-width: 990px){
	#advantages .card_flex_wrap{
    width: 100%;
	}
	#advantages .row{
	  display: block;
	}
	#aboutus .wrap_img{
	  margin: 10px auto;
	}
	#aboutus .wrap_img img{
	  max-width: 620px;
	}
	#aboutus .desc_img{
	  display: flex;
	}
	#header .wrap_t{
		margin-top: 120px;
	}

}
/*------------------------------------------770px----------------------------------------*/

@media screen and (max-width: 770px){
	.mb-nav {
    display: inline-block;
	}
	#header .row.menu .nav{
		display: none;
	}
	#header .wrap_t{
		margin-top: 170px;
	}
}
/*-------------------------------------------630px---------------------------------------*/
@media screen and (max-width: 630px){
	#advantages .row .section_title{
		margin-bottom: 20px;
	}
	#advantages .card_flex_wrap{display: block;}
	#advantages .cart_wrap{
		margin: 16px auto;
		width: 80%;
	}

}
/*-------------------------------------------580px---------------------------------------*/
@media screen and (max-width: 580px){
#menu .mb-menu-items{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
#menu .menu-items{
  display: none;
}
}
