/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
body{
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  padding:0;
  margin:0;
}
div,menu,p,a,span,em,strong,img,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:hover                        { text-decoration:none; color: #000;}
a {
	text-decoration: none;
	transition: 0.3s all ease-out;
  color: #444;
}

.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.overflow                      { overflow: hidden}
.hidden{ display: none ;}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
p, a, select, input, textarea, button, span, label, h1, h2, h3, h4, h5{font-family: 'Montserrat', sans-serif; color:#333;}
h1, h2, h3{
 text-transform: uppercase;
 color: #6e8c3e;
}
.transition{
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
#bubbles{
  position: relative;
  height: 100vh;
  width: 100%;
}
canvas{
  z-index: -10000;
  height: 99vh;
  width: 100%;

}
.container {
    display: flex;
    max-width: 1170px;
    min-width: 130px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/*------------------------------------- preloader --------------------------------------*/
#preloader{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: #eee;
  z-index: 30;
}
#preloader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------MENU--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#menu{
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  -webkit-box-shadow: 0 1px 4px 0.08px rgba(75, 85, 91, 0.2);
  box-shadow: 0 1px 4px 0.08px rgba(75, 85, 91, 0.2);

}
#menu .logo_wrap{
  padding: 0 30px;
}
#menu .logo_wrap img{
  width: 200px;
}
#menu .menu-list{
  display: flex;
  justify-content: flex-end;
}
#menu .menu-items{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;

}

#menu .menu-list li{
  display: block;
  margin: 10px 22px;
}
#menu .menu-list li img{
  cursor: pointer;
  width: 48px;
}
/*-------------------------------------mobile menu--------------------------------------*/

#menu .mb-menu-items span{
  display: block;
  margin: 10px 20px;
}


/*------------------------------------- float-window -----------------------------------------*/
.float-window{
  z-index: 1;
  height: 100%;
  width: 600px;
  position: fixed;
  right: -610px;
  top: 100px;
  background: #fefefe;
  box-shadow: 0 0 10px 0 rgba(75, 85, 91, 0.2);
  overflow: auto;
}

.float-window .wrap_title{
  text-align: center;
  margin: 20px;
  width: 500px;
  display: flex;
}
.float-window .wrap_title h3{
  margin-top: 0;
}
.float-window .float-window-title{
  width: 560px;
}
.w_close{
  display: inline-block;
  cursor: pointer;
}
.w_close img{
  width: 30px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------Rating--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#rating table{
  width: 560px;
  margin: 10px auto;
}
#rating table th{
  background: #EEE;
}
#rating table td{
  border-bottom: 1px solid #eee;
}
#rating table th, #rating table td{
  padding: 20px;
  text-align: center;
  font-weight: 400;
}
#rating table .top-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
#rating table .top-avatar img{
  width: 40px;
  height: 40px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------Gallery--------------------------------------*/
/*----------------------------------------------------------------------------------*/

#gallery .gallery_img_wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 26px;
  width: 550px;
}
#gallery .gallery_img_wrap .img_wrap{
  margin: 8px;
  position: relative;
}
#gallery .gallery_img_wrap .img_wrap img{
  width: 250px;
  height: 160px;
}
#gallery .gallery_img_wrap .img_wrap .img_desc{
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #fefefe;
  opacity: .7;
  text-align: center;
  border-radius: 50px 50px 0 0;
}
#gallery .gallery_img_wrap .view_more{padding: 10px;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------Info--------------------------------------*/
/*----------------------------------------------------------------------------------*/

#info .game_info{
  margin: 20px 26px;
  width: 550px;
}


#rating.active{right: 0;}
#info.active{right: 0;}
#gallery.active{right: 0;}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------User window--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#user_window{
  position: fixed;
  width: 400px;
  height: 450px;
  background: #fefefe;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 4px 1px rgba(75, 85, 91, 0.2);
  box-shadow: 0 0 4px 1px rgba(75, 85, 91, 0.2);
}
#user_window .user_ava{
  position: fixed;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid #eee;
  background: #eee;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
#user_window .user_ava img{
  width: 80px;
  height: 80px;

}

/*-------------------------------------User registration--------------------------------------*/

#user_window .user_nick{
  position: absolute;
  margin: 0 auto;
  width: 240px;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}
#user_window .user_nick input {

  transition: all 0.6s ease;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  color: #333333;
  height: 46px;
  width: 100%;
  font-size: 20px;
  padding: 6px;
  border: none;
}
#user_window .user_nick label{
  position: absolute;
  display: inline-table;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#user_window .user_nick .input_user_name{
  border-bottom: 2px solid #6e8c3e;
}
#user_window .user_nick .submit_button{
  background: #7b9f46;
  color: #fefefe;
  -webkit-box-shadow: 2px 2px 4px 0 #9f9f9f;
  box-shadow:  2px 2px 4px 0 #9f9f9f;
}
#user_window .user_nick .submit_button:hover{
  background: #6e8c3e;
  -webkit-box-shadow: 0px 2px 4px 0 #fff;
  box-shadow: 0px 2px 4px 0 #fff;
}
 #user_window .user_nick input:valid ~ label,
 #user_window .user_nick input:focus ~ label{
   -webkit-transform: translateX(-50%) scale(0.8);
   -ms-transform: translateX(-50%) scale(0.8);
   transform: translateX(-50%) scale(0.8);
   top: -10px;
   color: #fefefe;
 }
 /*-------------------------------------social_buttons--------------------------------------*/

  #user_window .social_buttons{
    position: absolute;
    width: 250px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  #user_window .social_buttons p{margin: 20px;}
  #user_window .social_buttons .social_ico{
    margin: 4px;
    width: 50px;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 2px 2px 4px 0 #9f9f9f;
    box-shadow: 2px 2px 4px 0 #9f9f9f;
    cursor: pointer;
  }
  #user_window .social_buttons .social-icons{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
  }
  #user_window .social_buttons .social_ico:hover{
    -webkit-box-shadow: 0px 2px 4px 0 #fff;
    box-shadow: 0px 2px 4px 0 #fff;
  }
  #user_window .social_buttons .social_ico img{
    width: 30px;
    height: 30px;

  }
  #user_window .social_buttons .ico_fb{
    background: #3F51B5;
  }
    #user_window .social_buttons .ico_fb:hover{
    background: #3f42b5;
  }
  #user_window .social_buttons .ico_pin{
    background: #d23030;
  }
  #user_window .social_buttons .ico_pin:hover{
    background: #c12929;
  }
  #user_window .social_buttons .ico_google{
    background: #fefefe;
  }
  #user_window .social_buttons .ico_google:hover{
    background: #eee;
  }
